body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

header {
	background-color: #000;
}

.container {
	width: 940px;
	margin: 0px auto;
}

.container .logo {
	display: block;
	overflow: hidden;
	background-image: url(webonise.png);
	float: left;
	background-color: #00CC99;
	width: 263px;
	height: 43px;
	margin-right: 100px;
	margin-top: 5px;
}

.container ul {
	float: left;
	padding: 0;
}

.container li {
	list-style-type: none;
	float: left;
	margin-right: 50px;
}

header a {
	color: #aaaaaa;
	text-decoration: none;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: bold;
}

header .btn {
	color: #aaaaaa;
	font-size: 18px;
	margin: 0;
	padding: 0;
	background: #000000;
	float: left;
	background: #000000;
}

header .user {
	color: #aaaaaa;
	text-decoration: none;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: bold;
}

.clear {
	clear: both;
	float: none;
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.banner {
	background-color: #71c4ea;
	height: 485;
	margin-bottom: 64px;
}

.maincontent {
	text-align: center;
}

.maincontent h1 {
	font-size: 36px;
	font-family: sans-serif;
	color: #444444;
	margin-bottom: 70px;
	margin-top: 0px;
}

.maincontent li {
	float: left;
	width: 174px;
	margin-right: 75px;
}

.maincontent .tablecontainer {
	color: #888888;
	font-size: 20px;
	margin-bottom: 30px;
	float: left;
	margin-left: 250px;
	line-height: 60px;
}

.maincontent .tablecontent {
	color: #888888;
	font-size: 20px;
	margin-bottom: 30px;
	float: left;
	margin-left: 200px;
}

.maincontent a {
	color: #888888;
	text-decoration: none;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: bold;
}

.maincontent a:hover {
	color: #000;
	text-decoration: none;
}

footer {
	background-color: #ececec;
	height: 50px;
	width: 100%;
	margin-top: 110px;
}

footer ul {
	margin-left: 170px;
}

footer li {
	margin-right: 100px;
}

footer a {
	color: #ff8000;
	font-size: 16px;
	text-decoration: none;
}

footer a:hover {
	color: #444444;
	text-decoration: none;
}